<!DOCTYPE html>
<html>
<head>
	<title>My CV</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}
		.container {
			max-width: 800px;
			margin: 0 auto;
			padding: 20px;
			background-color: #f2f2f2;
		}
		h1 {
			font-size: 36px;
			margin-bottom: 20px;
		}
		h2 {
			font-size: 24px;
			margin-bottom: 10px;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li {
			margin-bottom: 10px;
		}
		.section {
			margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<div class="container">
		<header>
			<h1>Abdelfattah Ashraf</h1>
			<h2>Dev-ops Engineer</h2>
			<ul>
				<li>Email: abdelfattah.ash@icloud.com</li>
				<li>Phone: +201015947084</li>
			</ul>
		</header>
		<section class="section">
			<h2>Summary</h2>
			<p>A highly resourceful, innovative, and competent Engineer with extensive experience in contacts providing
                Service Desk functionalities (Service Request Management, Incident Management, Service Level
                Management, Relationship Management, and Problem Management) by managing deliverables in a timely
                fashion with the best possible quality through integrated 3rd Level of Support (OpCo, Partner, Affiliate, 3rd
                Party Supplier) and other ad-hoc tasks as dictated by business needs.</p>
		</section>
		<section class="section">
			<h2>Experience</h2>
			<ul>
				<li>
					<h3>Service Support Engineer</h3>
					<p>CEQUENS</p>
					<p>08/2021 - Present,</p>
					<ul>
						<li>Receive requests/incidents via managing different
                            communication channels [JIRA, Email and Phone]. </li>
						<li>Validate requests/incidents to ensure high quality details
                            submitted to next level of support. Assisted customers with more difficult technical issues
                            requiring a greater level of personalized care and in greater
                            length</li>
						<li>Manage resolutions received from next level of support
                            ensuring clear and high quality communications back to
                            customer</li>
					</ul>
				</li>
				<li>
					<h3>Back-End developer</h3>
					<p>OneExpand</p>
					<p>03/2021 - 08/2021,</p>
					<ul>
						<li>Create new tables within MySQL, Test and document code</li>
						<li>Collaberrated with product and engineering team members to
                            define and develop new product concepts</li>
						<li>Collaborated with developers to ensure seamless integration of design and functionality</li>
					</ul>
				</li>
			</ul>
		</section>
		<section class="section">
			<h2>Education</h2>
			<ul>
				<li>
					<h3>Bachelor's Degree in Computer Science</h3>
					<p>Cairo University</p>
					<p>September 2013- June 2017</p>
				</li>
			</ul>
		</section>
	</div>
</body>
</html>
